* {
    box-sizing:border-box;
}


body {
    background-color:rgb(173, 196, 217);
}

#head-1 {
 background-image: linear-gradient(.25turn, rgb(5, 113, 246), 50%, rgb(255, 149, 0));;
 color: aliceblue;
}


.search-area {
    width: 25%;
    height: 50rem;
    display: flex;
    position: absolute;
    margin-left: 2%;
    flex-wrap: nowrap;
    flex-direction: column;
}

button {
    margin-top: 3%;
    border: 0;
    border-radius: 5px;
    
}

button:hover {
    cursor: pointer;
}

#history {
text-align: center;
width: 100%;
height: 70rem;
border-top: 3px solid black;
margin-top: 10px;

margin-inline-end: inherit;
}

#history>p {
    border: 2px solid rgb(48, 106, 129);
    background-color: gray;
    color: rgb(4, 12, 247);
    opacity: 55%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    
}

.current-weather {
    display: flex;
    flex-direction: column;
    /* margin-right: 30%; */
    border: 2px solid black;
    width: 70%;
    margin-left: 28%;
    place-items: start;
}

.current-weather>img {
    height: 5px;
}

.future-forecast {
     
    /* margin-right: 30%; */
    width: 75%;
    height: 35rem;
    margin-left: 28%;
    place-items: start;
}

.card {
    border: 3px solid;
    width: 17.8%;
    color: aliceblue;
    background-image: linear-gradient(120deg, rgb(18, 186, 212), rgb(30, 10, 183));
}




